# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android generated
android/.gradle/
android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# IntelliJ / VS Code
.idea/
.vscode/

# Misc
*.class
*.log
.DS_Store
